<%- include("partials/header");-%>



    <h1><%= title %></h1>
    <p><%= content %></p>

  
<!-- 
    <div class="limited-text">
      <%= content.split(" ").splice(0, 100).join(" ") + "..." %>
    </div>
    <a href="#" class="read-more">Read More</a>
    <div class="full-text" style="display: none;">
      <%= content %>
    </div> -->
    
  

<%- include("partials/footer"); -%>